<div class="hero">
  <h1>{{ title }}</h1>

  <p>Description</p>
</div>

<p *ngIf="isInitialLoading; else beersLoop" class="loading">
  Chargement des bières...
</p>

<ng-template #beersLoop>
  <ul *ngIf="beerService.beers.length">
    <li *ngFor="let beer of beerService.beers">
      <ui-beer class="item" [beer]="beer"></ui-beer>
    </li>
  </ul>
</ng-template>
