.hero {
  text-align: center;
}

.loading {
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: 2em;
  padding: 2em;
}

.item {
  display: block;
  min-height: 10rem;
  height: 100%;
  position: relative;
}
