:host {
  display: block;
}

.beer {
  background: white;
  box-shadow: 0 8px 32px rgba(black, 0.16);
  padding: 1em;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  gap: 1em;
  align-items: flex-start;

  &.is-thumbnail {
    --image-width: 64px;
  }

  &__picture {
    width: var(--image-width, 128px);
    flex: 0 0 auto;
    padding: 1em;
  }

  &__tip {
    padding: 1em;
    margin: 0;
    background: rgba(#ffdc2a, 0.08);
    border-radius: 8px;
    border: 1px solid rgba(#ffdc2a, 0.32);
    color: darken(#ffdc2a, 30%);
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-decoration: none;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5em;
  }

  &__delete-button {
    position: absolute;
    top: 1em;
    right: 1em;
    appearance: none;
    background: white;
    color: black;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    padding: 0.75em;
    border-radius: 2em;

    lucide-icon {
      width: 1em;
      height: 1em;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1em 0;

    &-icon {
      width: 1em;
      height: 1em;
    }
  }
}
