<div class="beer" *ngIf="beer" [ngClass]="{ 'is-thumbnail': thumbnail }">
  <a *ngIf="thumbnail" class="beer__link" [routerLink]="['/beers', beer.id]"
    >Go to bière</a
  >
  <img class="beer__picture" [src]="beer.image_url" alt="" />

  <div class="beer__right">
    <h2 class="beer__title">{{ beer.name }}</h2>
    <p>{{ beer.tagline }}</p>

    <ng-container *ngIf="!thumbnail">
      <p>First brewed: {{ beer.first_brewed }} - IBU: {{ beer.ibu }}</p>
      <p>{{ beer.description }}</p>

      <blockquote class="beer__tip">
        <p>{{ beer.brewers_tips }}</p>
      </blockquote>
    </ng-container>
  </div>
</div>
