@import "themes/conf";
/* You can add global styles to this file, and also import other style files */

html {
  font-size: 0.625em;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: rgba(black, 0.88);
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
